/assets/dist/
/node_modules/
/vendor/
/wpcs/
/coverage/
.DS_Store
/cypress/cucumberreports/
/cypress/cucumber-json/
/cypress/productionhealthcheckscreenshots/
/cypress/videos/
/cypress/cucmberReport.tar/